.form {
  &__fieldset {
    max-width: 390px;
  }

  &__field {
    margin-top: 16px;
  }

  &__reset {
    margin-right: auto;
  }

  &__controllers {
    padding: 20px 18px;
    border: 1px solid #dee4f0;
    border-radius: 21px;
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  &__checkbox {
    width: 100%;
  }
}
