$font-inter: 'Inter', 'Times New Roman', Times, serif;
$font-opensans: 'Open Sans', 'Times New Roman', Times, serif;

$blue: #4c73e3;
$blue-light: #88a4f5;
$white: #fff;
$yellow: #f2c94c;
$grey: #787978;

$animation-duration: 0.3s;
