@import '../../styles/index.scss';

.fieldset {
  box-sizing: border-box;
  margin: 0;
  padding: 20px;
  width: 100%;
  border: 1px solid $blue;
  border-radius: 21px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 16px;
  position: relative;

  &__title {
    @include font(24px, 800, normal);
    font-family: $font-opensans;
    flex-basis: 100%;
    margin: 0;
    display: block;
    color: #262d38;
  }

  &__delete {
    width: 25px;
    height: 25px;
    padding: 0;
    border: 0;
    background-color: transparent;
    display: none;
    position: absolute;
    left: calc(100% + 20px);
    top: calc(50% - 12.5px);
    cursor: pointer;

    &_active {
      display: block;

      &:hover {
        animation: button-scale 0.6s linear 0s 1;
      }
    }
  }

  &__img {
    height: 100%;
    width: 100%;
  }
}
