@font-face {
  font: {
    family: 'Open Sans';
    weight: 400;
    style: normal;
  }
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('./OpenSans-Regular.woff2') format('woff2'),
    url('./OpenSans-Regular.woff') format('woff');
}

@font-face {
  font: {
    family: 'Open Sans';
    weight: 800;
    style: normal;
  }
  src: local('Open Sans Extra Bold'), local('OpenSans-ExtraBold'),
    url('./OpenSans-ExtraBold.woff2') format('woff2'),
    url('./OpenSans-ExtraBold.woff') format('woff');
}

@font-face {
  font: {
    family: 'Inter';
    weight: 300;
    style: normal;
  }
  src: local('Inter Light'), local('Inter-Light'),
    url('./Inter-LightBETA.woff2') format('woff2'),
    url('./Inter-LightBETA.woff') format('woff');
}

@font-face {
  font: {
    family: 'Inter';
    weight: 600;
    style: normal;
  }
  src: local('Inter Semi Bold'), local('Inter-SemiBold'),
    url('./Inter-SemiBold.woff2') format('woff2'),
    url('./Inter-SemiBold.woff') format('woff');
}

@font-face {
  font: {
    family: 'Inter';
    weight: 700;
    style: normal;
  }
  src: local('Inter Bold'), local('Inter-Bold'),
    url('./Inter-Bold.woff2') format('woff2'),
    url('./Inter-Bold.woff') format('woff');
}
